<h1>About</h1>

<p>Born out of a need for a garbage scheduling app for Ottawa that doesn't inspire acts of rage, as well as a burgeoning entry in the <a href="http://opendataottawa.ca">Open Data Ottawa Hackfest</a>, the Ottawa Trash app was built by <a href="http://www.vanbergen.org/">Willem van Bergen</a>, and <a href="http://edwardog.net">Edward Ocampo-Gooding</a> using carefully hand-made iCal files for the city&rsquo;s trash schedules prepared by <a href="http://shawnhooper.com/">Shawn Hooper</a>.</p>

<p>This application is in no way official or approved by the <a href="http://ottawa.ca">City of Ottawa</a>, though that would be nice.</p>

<p>No garbage was harmed during the making of this application.</p>