<h1>About</h1>

<blockquote> &laquo; My husband, he tends to forget about the garbage a lot, 
  and he's always on the internet, so, that would help. &raquo; </blockquote>

<p> Born out of a need for a garbage scheduling app for Ottawa that doesn't
  inspire acts of rage, as well as a burgeoning entry in the <a
  href="http://opendataottawa.ca">Open Data Ottawa Hackfest</a>, the Ottawa
  Trash app was built by <a href="http://www.vanbergen.org/">Willem van
  Bergen</a>, and <a href="http://edwardog.net">Edward Ocampo-Gooding</a> using
  carefully hand-made iCal files for the city&rsquo;s trash schedules prepared
  by <a href="http://shawnhooper.com/">Shawn Hooper</a>.</p>

<p>This application is in no way official or approved by the <a
  href="http://ottawa.ca">City of Ottawa</a>, though that would be nice.</p>

<p> No garbage was harmed during the making of this application.</p>

<h2> In the news </h2>

<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/WK2VHBgjxek&color1=0xb1b1b1&color2=0xcfcfcf&hl=en_US&feature=player_embedded&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><embed src="http://www.youtube.com/v/WK2VHBgjxek&color1=0xb1b1b1&color2=0xcfcfcf&hl=en_US&feature=player_embedded&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="385"></embed></object>