html body {
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  width: 640px;
  margin: 0px auto;
}

#content h1 {
  font-size: 26px;
}

#content h2 {
  font-size: 22px;
}

#content p, #content li {
  font-size: 0.95em;
  line-height: 150%;
}

#content p.error {
  color: #aa0000;
  font-weight: bold;
}


#next-dates {
  border-collapse: collapse;
  font-size: 150%;
}
#next-dates td {
  padding: 5px;
}

#next-dates td.trash-kind {
  font-weight: bold;
}
#next-dates td.pickup-date {
  color: #bbbbbb;
}

#next-dates tr#regular td.trash-kind {
  color: #aaaaaa;
}
#next-dates tr#blue-box td.trash-kind {
  color: #0000aa;
}
#next-dates tr#black-box td.trash-kind {
  color: black;
}
#next-dates tr#green-bin td.trash-kind {
  color: #00aa00;
}

p.metadata {
  margin-top: 60px;
  color: #cccccc;
  font-size: 90%;
}

p.metadata a {
  color: #aaaaff;
}

/* iPhone stuff */

@media screen and (max-device-width: 480px) {
  
  #content {
    -webkit-text-size-adjust:none;
    width: 100%;
    margin: 0;
    font-size: 16px;
  }  
  
  #content h1 {
    font-size: 22px;
  }
  
  #content h2 {
    font-size: 18px;
  }  
  
  #next-dates {
    font-size: 110%;
  }
  
  #next-dates td.pickup-date {
   font-size: 90%; 
  }
}