<p class="metadata">
  <%= link_to 'City info', 'http://ottawa.ca/residents/recycling_garbage/collection_calendar/index_en.html' %> ::
  <%= link_to 'Source code', 'http://github.com/wvanbergen/ogc' %> ::
  <%= mail_to 'ottawa.garbage.day@gmail.com', 'Contact us' %>
</p>