<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Ottawa Trash Schedule' %></title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <%= stylesheet_link_tag 'layout' %>

    <%= yield :head %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
